@model İnsanK.Models.tblGörev
@{
    ViewBag.Title = "GorevGetir";
    Layout = "~/Views/Shared/_PersonelLayout.cshtml";
}

@using (Html.BeginForm("GorevGuncelle", "Gorev", FormMethod.Post))
{
    <div style="margin-bottom:15px">
        @Html.HiddenFor(y => y.GörevİD)
        @Html.LabelFor(x => x.GörevİD)
        @Html.TextBoxFor(x => x.GörevİD, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        @Html.LabelFor(x => x.Görevadı)
        @Html.TextBoxFor(x => x.Görevadı, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Güncelle</button>
}

